.nav-container {
	background-color: #333;
	height: 50px;
}

.nav-title a{
	font-size: 33px;
	margin-left: 10px;
	display: block;
	padding: 5px;
}

.nav-font {
	color: #fff;
	text-decoration: none;
	font-size: 22px;
}

.nav-list {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
}

.nav-item {
	margin-right: 20px;
	padding: 10.5px;
	display: block;
}

.nav-item:hover {
	background-color: #000;
}

.nav-title, .nav-list li{
	float: left;
}

.index-container {
	background-color: #eee;
}
